@model System.Data.DataTable
@using System.Data


<main id="main" class="main">

    <div class="pagetitle">
        <h1>QuestionLevel List</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                <li class="breadcrumb-item">QuestionLevel</li>
                <li class="breadcrumb-item active">List</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

                    <span class="text-danger">@TempData["ErrorMessage"]</span>
                    <span class="text-danger">@TempData["SuccessMessage"]</span>

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">QuestionLevel List</h5>
                        <div class="d-flex justify-content-end">
                            <a asp-controller="QuestionLevel" asp-action="QuestionLevelAdd">
                                <button class="btn btn-primary mb-2">Add QuestionLevel</button>
                            </a>
                            <a asp-controller="QuestionLevel" asp-action="ExportToExcel">
                                <button class="btn btn-outline-success mb-2 ms-1">Export to Excel</button>
                            </a>
                        </div>

                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th>QuestionLevelID</th>
                                    <th>QuestionLevel</th>
                                    <th>UserName</th>
                                    <th data-type="date" data-format="YYYY/DD/MM">Created</th>
                                    <th data-type="date" data-format="YYYY/DD/MM">Modified</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            @foreach (System.Data.DataRow row in Model.Rows)
                            {
                                <tr>
                                    <td>@row["QuestionLevelID"]</td>
                                    <td>@row["QuestionLevel"]</td>
                                    <td>@row["UserName"]</td>
                                    <td>@row["Created"]</td>
                                    <td>@row["Modified"]</td>
                                    <td>
                                        <a asp-controller="QuestionLevel" asp-action="QuestionLevelAdd" asp-route-QuestionLevelID="@row["QuestionLevelID"]">
                                            <i class="bi bi-pencil-square" style="color:green"></i>
                                        </a>
                                        <a href="javascript:void(0);" onclick="confirmDelete('@row["QuestionLevelID"]')">
                                            <i class ="bi bi-trash3" style="color:red"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </table>
                        <!-- End Table with stripped rows -->

                        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                        <script>
                            function confirmDelete(questionLevelID) {
                                Swal.fire({
                                    title: "Are you sure want to delete?",
                                    text: "You won't be able to revert this!",
                                    showCancelButton: true,
                                    confirmButtonColor: "#d33",
                                    cancelButtonColor: "#3085d6",
                                    confirmButtonText: "Yes, delete it!"
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = "/QuestionLevel/QuestionLevelDelete?QuestionLevelID=" + questionLevelID;
                                    }
                                });
                            }
                        </script>

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->